
body { font-family: Arial; background:#f5f7fa; margin:0; }
header { background:#0052cc; color:white; text-align:center; padding:20px; font-size:24px; }
.container { width:90%; margin:auto; padding:20px; }
h2 { color:#0052cc; }
ul li { background:white; padding:10px; margin:5px 0; border-radius:6px; }
